button {
    margin: 10px;
}

div[class="form-group"] {
    max-width: 400px;
}

label {
    padding: 5px;
}

table, th, td {
    border: 3px solid rgb(255, 175, 0);
    background: rgb(255, 200, 0);
    text-align: center;
}

table {
    width: 100%
}

th[class="col1"] {
    width: 20%
}
th[class="col2"] {
    width: 15%
}
th[class="col3"] {
    width: 15%
}
th[class="col4"] {
    width: 25%
}
th[class="col5"] {
    width: 25%
}